* {
  padding: 0%;
  margin: 0%;
  box-sizing: border-box;
}
body {
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;




}
.offer-section {

  width: 100%;
 background-color: rgb(18, 18, 18);

}
.offer-section a{

  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  padding: 1rem 0 1rem 0;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  cursor: pointer;
  border-bottom: 1px solid rgba(255, 255, 255,0.08);
  letter-spacing: 0.5px;
}
.offer-section :hover {
  background-color: rgba(255, 255, 255,0.06);

}
.offer-section i {
  transition: transform 0.2s ease;
  transform-origin: left center;

}
.offer-section :hover i {
  transform: scaleX(1.3);
}
header {
  background-color: rgb(18, 18, 18);
  position: sticky;
  top: 0;
  width: 100%;
}
.header-container {

  /* background-color: rgb(18, 18, 18); */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 45px;
  gap: 40px;
  border-bottom: 0.8px solid rgba(255, 255, 255, 0.08);
  /* margin-left: 102px; */
  /* margin-right: 102px; */
 

}
.header-container a img {

  width: 120px;
  height: 25px;
  margin-left: 100px;


}
.nav-section {
  
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.nav-section a {
  
  color: rgba(255, 255, 255, 0.75);
  font-size: 17px;
  font-weight: 400;
  text-decoration: none;
  border-bottom: 2px solid transparent ;
  
  
}
.nav-section a:hover {
  border-bottom: 1.5px solid white;
  color: white;
}

.nav-section a.active {
  
  border-bottom: 1.5px solid white ;
  color: white;
} 

.nav-section a.active:hover {
  
  border-bottom: 2.5px solid white;
}
.header-icons {


 display: flex;
 gap: 20px;
 margin-left: auto;
 margin-right: 70px;
 
}
.header-icons a {
  font-size: 25px;
  color: white;
}

.main-container {
  
  
  padding-top: 25px;
  text-align: center;
}
.main-container img {

 width: 360px;
 height: 360px;
 margin: 10px 0 0 55px;
  
  
}
.main-container a {

  outline: none;
}
.founder {

  width: 100%;
  display: flex;
  gap: 70px;
  margin-top: 50px;


}
.founder img {
  width: 390px;
  height: 530px;
  margin-left: 165px;

}
.founder-details {

  display: flex;
  flex-direction: column;
  gap: 30px;
  margin-top: 50px;

}
.founder-details h2 {

  color: rgb(18, 18, 18);
  font-size: 27px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.6px;
  
}
.founder-details p {

  width: 470px;
  height: 34px;
  color: rgba(18, 18, 18, 0.7);
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.66px;

}
.founder-details button {

  width: 145px;
  height: 52px;
  background-color: rgb(18, 18, 18);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 1px;
  line-height: 19px;
  cursor: pointer;
  transition: transform 0.2s ease ;

}
.founder-details button:hover {

transform: scale(1.02);

}
.footer-section {

   /* width: 100%; */
   height: 430px;
   margin-top: 80px;
   padding: 36px 0;
   background-color: rgb(18, 18, 18);
   color: rgba(255, 255, 255, 0.75);
   /* display: flex; */
  /* justify-content: center; */
  /* border-bottom: 1px solid rgba(255, 255, 255, 0.08); */



}
.footer-contents {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   gap: 30px;
   /* border-bottom: 1px solid rgba(255, 255, 255, 0.75); */
}
.footer-contents h2 {

  color: rgb(255, 255, 255);
  font-size: 19px;
  font-weight: 400;
  height: 24px;
  letter-spacing: 0.6px;
  line-height: 23px;

}
.footer-contents p {

 /* border-bottom: 1px solid rgba(255, 255, 255, 0.75); */
 text-decoration: underline;
 font-size: 17px;

}
.footer-contents p:hover {
   text-decoration-thickness: .2rem;
  color: rgb(255, 255, 255);
}
.footer-contents a {
  color: rgba(255, 255, 255, 0.75);
  font-size: 18px;
  cursor: pointer;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 1px;
  text-decoration-style: solid;

}
.footer-contents a:hover {

  text-decoration-thickness: .2rem;
  color: rgb(255, 255, 255);

}
.footer-contents a i {

  color: rgb(255, 255, 255);
  font-size: 25px;
}
.footer-contents i:hover {

  transform: scale(1.05);
}

.footer-links {


  width: 100%;
  /* height: 30px; */
  /* border-top: 0.5px solid rgba(255, 255, 255, 0.08); */
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap:8px;
  margin-top: 20px;
  margin-right: 200px;
  letter-spacing: 0.55px;
  line-height: 21px;
  /* text-decoration: none; */
}

.footer-links p {
  text-decoration: none;
  font-size: 10px;
  font-style: normal;
  /* margin-top: 60px; */

}
.footer-links a {

  text-decoration: none;
  font-size: 11px;
  font-style: normal;
  /* margin-top: 60px; */

}
.footer-links a:hover {
  text-decoration: underline ;
}

.footer-border {

  width: 100%;
  height: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  background:rgba(255, 255, 255, 0.08);

}